<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myportal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	  <servlet-name>spring</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  <!-- 기본적으로 설정 하지 않으면 Dispatcher 설정 파일의 이름은 
	  ${servlet-name}-servlet.xml -->
	  <!--  
	  <init-param>
	  	<param-name>contextConfigLocation</param-name>
	  	<param-value>/WEB-INF/spring-servlet.xml</param-value>
	  </init-param>
	  -->
  </servlet>
  <servlet-mapping>
	  <servlet-name>spring</servlet-name>
	  <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- Application Context 설정 -->
  <!--Listenr 를 등록해두면 전체 Application 영역에 접근할 수있다 -->
  
  <listener>
  <listener-class>
  org.springframework.web.context.ContextLoaderListener
  </listener-class>
  </listener>
  <!-- 만약 특별히 지정하지 않으면 Application context 설정 파일의 이름은  applicationContext.xml -->
  <!-- 
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
   -->
   
   <!-- Encoding Filter -->
   <filter>
   	<filter-name>encodingFilter</filter-name>
   	<filter-class>
   	org.springframework.web.filter.CharacterEncodingFilter
   	</filter-class>
   	<init-param>
   		<param-name>encoding</param-name>
   		<param-value>UTF-8</param-value>
   	</init-param>
   </filter>
   
   <filter-mapping>
   	<filter-name>encodingFilter</filter-name>	
   	<url-pattern>/*</url-pattern>
   </filter-mapping>
</web-app>